<td>
  {{record.objectId}}
</td>
<td>
  {{record.objectType}}
</td>
<td>
  {{timestampString}}
</td>
<td>
  <ul>
    {{#each changes as |change|}}
      <li>
        <strong>{{change.key}}:</strong> {{change.value}}
      </li>
    {{/each}}
  </ul>
</td>
