{{#if errorMessage}}
  <div class="alert alert-primary">
    Error: Unable to upload or parse CSV file: {{errorMessage}}
  </div>
{{/if}}
<form class="form-inline text-center" style="margin: 2em;">
  <input
    multiple="true"
    type="file"
    accept=".csv"
    class="form-control"
    onchange={{action 'onchange' value='target.files'}}>
  <button
    type="submit"
    class="btn btn-primary"
    {{action 'uploadCSV'}}>
    Upload
  </button>
</form>

<div class="panel panel-default">
  <div class="panel-heading">
    Search Records
  </div>
  <form class="form-inline text-center panel-body">
    <div class="form-group">
      <label>ID:</label>
      {{input type='text' value=formId class='form-control'}}
    </div>
    <div class="form-group">
      <label>Type:</label>
      {{input type='text' value=formType class='form-control'}}
    </div>
    <div class="form-group">
      <label>Timestamp:</label>
      {{input type='datetime-local' value=formTimestamp class='form-control'}}
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" {{action 'searchSubmit'}}>Submit</button>
    </div>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Timestamp</th>
        <th>Changes</th>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>
</div>
